In [1]:
import mmcalculadora as calc

In [2]:
calculadora=calc.IRCalculadora('../data/stocks-dataset.csv')

In [4]:
calculadora=calculadora()

In [7]:
calculadora.summary

,mes,valor total compra,valor total venda,Imposto Devido,RAbr,RAliq,Prejuizo Absoluto
0,2020-01,27157.0,5770.0,0.00,-274.777778,-274.777778,-274.777778
1,2020-02,13039.0,6083.0,0.00,-1630.333333,-1630.333333,0.000000
2,2020-03,9650.0,4000.0,0.00,-3166.000000,-3166.000000,-3166.000000
3,2020-04,8962.0,0.0,0.00,0.000000,0.000000,0.000000
4,2020-05,0.0,26083.0,3909.15,26061.000000,22151.850000,0.000000
5,2020-06,2210.0,21600.0,247.80,1652.000000,1404.200000,0.000000